<div = class = "mt-5 mb-5">
  <h3 id="depoimentos" >Depoimentos</h3>
  <div class="row">
    <div class="col-lg-4 text-center">
      <%=image_tag("person01.jpg", size: "140x140", class: "rounded-circle", alt: "Edit Entry")%>
      <h2>Carlos Lacerda</h2>
      <p>Aos 72 anos, eu me sentia perdido. A aposentadoria, que eu tanto sonhei, se tornou um fardo. A solidão me consumia, foi quando encontrei a Clínica Coraline. Hesitante no início, entrei com o coração apertado. Mas logo fui recebido com um sorriso acolhedor e palavras gentis. A terapeuta, Juliana, me ouviu com atenção e sem julgamentos. Ela me ajudou a entender meus sentimentos e me deu ferramentas para lidar com eles.</p>
    </div>
    <div class="col-lg-4 text-center">
      <%=image_tag("person02.jpg", size: "140x140", class: "rounded-circle", alt: "Edit Entry")%>
      <h2>Lucas Barros</h2>
      <p>Como trabalhador e pai de família, a vida sempre foi corrida e cheia de responsabilidades. Entre o trabalho, as tarefas domésticas e cuidar dos filhos, pouco tempo sobrava para mim mesmo. O estresse se tornou meu companheiro constante, me deixando irritado, ansioso e com dificuldade de concentração. Com o tempo, as sessões se tornaram um momento de autocuidado essencial. Aprendi a relaxar, a administrar minhas emoções e a me comunicar de forma mais eficaz com a minha família. O estresse foi diminuindo gradativamente e a paz voltou a reinar em nosso lar.</p>
    </div>
    <div class="col-lg-4 text-center">
      <%=image_tag("person03.jpg", size: "140x140", class: "rounded-circle", alt: "Edit Entry")%>
      <h2>Ana Carolina</h2>
      <p>Ser mãe sempre foi um sonho mas, quando meu bebê finalmente chegou, a alegria da maternidade se misturou com uma montanha de dúvidas, medos e inseguranças. Me sentia perdida, sem saber como lidar com as novas responsabilidades e com as mudanças no meu corpo e na minha vida.
        . A doutora Juliana, me acolheu com um abraço caloroso e me deu o apoio que eu precisava naquele momento. Ela me ajudou a entender meus sentimentos, me ensinou técnicas para lidar com o estresse e a ansiedade e me deu ferramentas para fortalecer minha autoestima..</p>
    </div>
  </div>
</div>