<div class="mt-3 mb-3">
  <h3 id="sobre" >Quem somos</h3>
  <p>Bem-vindo à Coraline, um espaço dedicado ao seu bem-estar emocional e crescimento pessoal. Na Coraline, acreditamos na importância de oferecer um ambiente acolhedor e seguro para que você possa explorar suas questões mais profundas e encontrar soluções que promovam uma vida mais plena e satisfatória.
    Nossa equipe de psicoterapeutas altamente qualificados está comprometida em proporcionar um atendimento personalizado e compassivo, adaptado às suas necessidades individuais. Valorizamos a confiança, o respeito e a confidencialidade em todas as interações, garantindo que você se sinta confortável para compartilhar suas experiências e desafios conosco.
    Na Coraline, acreditamos no poder transformador da psicoterapia para promover o autoconhecimento, o crescimento pessoal e a resiliência emocional. Estamos aqui para ajudá-lo a explorar seus pensamentos, sentimentos e comportamentos, e a desenvolver estratégias eficazes para lidar com os desafios da vida cotidiana.
    Seja qual for o seu objetivo - seja superar a ansiedade, melhorar relacionamentos ou simplesmente encontrar mais equilíbrio e satisfação na vida - estamos aqui para apoiá-lo em sua jornada de autodescoberta e crescimento. Entre em contato conosco hoje mesmo e dê o primeiro passo em direção a uma vida mais plena e significativa na Coraline.</p>
</div>